{% extends 'base.html'%}
{% load static %}
{%load staticfiles%}
{% block content %} 
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'static/css/editarusuario.css' %}">
</head>
<body>
	{% if request.user.is_authenticated %}                        
        <h1>Tu cuenta, {{request.user.first_name}} !!</h1> 
    {% endif %}
    <div class="modal-dialog text-center">
        <div class="col-sm-8 main-section">
            <div class="modal-content">
            	<h3>Datos de usuario</h3>
            	<form  action="{% url 'editarusuario' %}" method="POST">
		        {% csrf_token %}
					<div class="col-md-5"> 
			            <div class="form-group">
			              <label>Nombre de Usuario</label>
			              <input name="nombreUsuario"  type="text" value="{{user.username}}" readonly="readonly">
			            </div> 
				        <div class="form-group">
			              <label>Nombre</label>
			              <input name="nombre"  type="text" value="{{user.first_name}}" >
			            </div> 

			            <div class="form-group">
			              <label>Apellido</label>
			              <input name="apellido"type="text" value="{{user.last_name}}" >
			            </div>		
			            <div class="form-group">
			              <label>Correo</label>
			              <input name="email"  type="text" value="{{user.email}}" required="" readonly="readonly">
			            </div>	            
			        </div>
			        <div class="col-md-1">  
			        </div>
			        <div class="col-md-5">  
			        	{% for perfil in usuario|slice:":1" %}
			            <div class="form-group">
			              <label>Dirección</label>
			              <input name="direccion"type="text" value="{{perfil.direccion}}" >
			            </div>
			            <div class="form-group">
			            	<label>Localidad</label>
			                <input name="localidad" type="text" value="{{perfil.ciudad}}" >
			            </div>
			            <div class="form-group">
			            	<label>Provincia</label>
			                <input name="provincia" type="text" value="{{perfil.provincia}}" >
			            </div>
			            <div class="form-group">
				          <label>Telefono:</label>
				          <input name="telefonoNumero"  type="text" value="{{perfil.telefonoNumero}}">
				        </div>
					{% endfor %}
			        </div>
			        <button class="btn btn-primary" type="submit" name="action" value="Guardar">Guardar</button> 
			    </form>    
		    </div>
		</div>
	</div>
</body>	

{% endblock %} 
